<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mynewmanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_lightbulb"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_lightbulb"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/LoginTheme"
            android:screenOrientation="portrait" >
        </activity>

        <activity android:name=".user_main_menu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ProjetoView"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".NovoProjeto"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>